/*------------------ TOGGLE 5  ------------------*/
#nav-toggle-5 span {
  margin: 47.5% 27%;
}

#nav-toggle-5 .bar-1,
#nav-toggle-5 .bar-2,
#nav-toggle-5 .bar-3 {
  transition: transform 350ms ease-out, opacity 350ms ease-in-out,
    height 350ms ease-in-out, width 350ms ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

/*default*/
#nav-toggle-5 .bar-1 {
  top: -10px;
}

#nav-toggle-5 .bar-2 {
  top: 0;
}

#nav-toggle-5 .bar-3 {
  top: 10px;
}

/*active*/
#nav-toggle-5.active .bar-1,
#nav-toggle-5.active .bar-2,
#nav-toggle-5.active .bar-3 {
  top: 0;
}

#nav-toggle-5.active .bar-1 {
  transform: rotate3d(0, 0, 1, -225deg);
}

#nav-toggle-5.active .bar-2 {
  border-radius: 50%;
  opacity: 0;
  height: 36px;
  top: -10px;
  transform: rotate(360deg) scale(1.5);
}

#nav-toggle-5.active .bar-3 {
  transform: rotate3d(0, 0, 1, 225deg);
}
